{% extends 'base.html.twig' %}

{% block body %}
    <div id="acceuil">

        <div class="">
            <div>
                <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
                <p>Participant : {{ app.user.pseudo }}</p>
            </div>
        </div>

        <h2>Filtrer les sorties</h2>

        <form>
            <label>Campus</label>
            <input type="select">
        </form>

        <button><a href="{{ path('sortie_create') }}" title="Créer une sortie">Créer une sortie</a></button>

    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Acceuil
{% endblock %}