/********************************************** GLOBAL ************************************************/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    align-self: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

button {
    width: 110px;
    height: 50px;
    box-shadow: 2px 2px  black;
    background-color: #FFFFFF;
}

button a {
    text-decoration: none;
    color: black;
}

/********************************************** PAGE LOGIN ************************************************/
#login-page #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-content: center;*/
    align-items: center;
    width: 100%;
}

#login-page #pwd{
    margin-top: 1rem;
}

#bloc-boutons-login{
    display: flex;
    margin-top: 2rem;
}

#login-bouton {
    margin-right: 2rem;
}

#label-remember-me-bouton {
    width: auto !important;
}

label {
    display: block;
    width: 150px;
    float: left;
}

/********************************************** PAGE ACCEUIL ************************************************/

#acceuil button {
    width: auto !important;
}

/********************************************** PAGE MON PROFIL ************************************************/
#mon-profil
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-content: center;*/
    align-items: center;
}

#mon-profil > div {
    width: 100%;
}

#div-infos-profil
{
    display: flex;
    justify-content: center;
}

#div-img
{
    margin-right: 8rem;
}

#profil > div {
    margin-bottom: 1rem;
}

#mon-profil label {
    display: block;
    width: 150px;
    float: left;
}

#mon-profil input {
    width: 15rem;
}

#profil_campus {
    width: 15.5rem;
}

#button-profil {
    display: flex;
    justify-content: space-evenly;
}

#mon-profil button {
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

/********************************************** PAGE CREATION SORTIE ************************************************/
