<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>

        {# google font #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap" >

        {# css #}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        {# favicon #}
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
    </head>

    <body>

        <header>
            <h1>Sortir.com</h1>

            {% include('inc/nav.html.twig') %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div>&copy; Sortir.com {{ "now"|date("Y") }}</div>
        </footer>

    </body>

</html>
